ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    
    display: inline-block;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 25px 80px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }
  
  h1 {
      text-align: center;
  }
  
  body {
      width: 80%;
      margin: auto;
  }
  
  div {
   text-align: center;
  }

  .album-cover > img{
    float:left;
  }