@font-face{
  font-family: Ubuntu;
  src: url(Ubuntu/Ubuntu-Regular.ttf);
}

html{
  background-color: black;
  color: white;
  font-family: Ubuntu;
}
  
  h1 {
      text-align: center;
  }
  
  body {
      width: 80%;
      margin: auto;
  }
  
  div {
   text-align: center;
  }

 
  .album-cover > img{
    
    width: 25%;
    border-radius: 10px;
    display: inline-block;
  }

  .album-cover{
    padding-bottom: 30px;
  }
  
  

  footer{
    clear: left;
    background-color: rgb(15, 15, 15);
  }

  footer > div > a > img{
    height: 40px;
    width: 40px;
  }

  .footer{
    margin: auto;
    padding: 30px;
    
  }

